imports:
    - vendor/sylius/sylius/behat.yml.dist
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\Acme\SyliusExamplePlugin\Application\Kernel

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
